@page "/Admin";

<section class="container">
    <h3>AdminComponent</h3>

    <table class="table table-dark table-striped text-white">
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in _blogService.GetAllBlogs())
        {
            <tr>
                <td>@item.Title</td>
                <td class="w-50">@item.Summary</td>
                <td>@item.Date.ToString("dd/MM/yyyy - HH:mm:ss")</td>
            </tr>
        }
        </tbody>
    </table>
</section>