@page "/Cart";
@using PangWeb.Services
@using PangWeb.Shared.DTOs

<div class="container">
    <h3 class="mb-5">Shopping Cart</h3>
    @if (shopCart.Items != null && shopCart.Items.Count > 0)
    {
        <table style="width: 600px" class="mx-auto">
            <thead>
                <th style="width: 200px"></th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>
                @foreach(var item in shopCart.Items)
                {
                    <tr>
                        <td><img style="height: 150px" src="@item.Product.ImgUrl" /></td>
                        <td>@item.Product.Name</td>
                        <td>
                            <button class="btn btn-danger productQuantityBtn" @onclick="() => _shoppingCartService.RemoveProductToCart(item.Product)"><b>&lt;</b></button>
                            <span>@_shoppingCartService._shoppingCart.Items.FirstOrDefault(x => x.Product.Id == item.ProductId).Quantity</span>
                            <button class="btn btn-success productQuantityBtn" @onclick="() => _shoppingCartService.AddNewProductToCart(item.Product)"><b>&gt;</b></button>
                        </td>
                        <td>£@(item.Price * item.Quantity)</td>
                    </tr>  
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Nothing in your cart!</h3>
    }
    </div>
@code {
    [Inject]
    private ShoppingCartService _shoppingCartService { get; set; }

    public ShoppingCartDto shopCart;

    protected override void OnInitialized()
    {
        shopCart = _shoppingCartService._shoppingCart;
    }
}
