@using PangWeb.Services
@if (SelectedId > 0)
{
    <div tabindex="1" style="position: fixed; left: 0; right: 0; top: 25%;">
        <div class="modal-dialog">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h5 class="modal-title">@EditProductForm.Name</h5>
                    <button 
                        type="button" 
                        class="btn-close" 
                        @onclick="() => OnModalClose.InvokeAsync()" 
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>@EditProductForm.Description</p>
                </div>
                <div class="modal-footer">
                    @if (EditProductForm.active)
                    {
                        <button 
                            type="button" 
                            class="btn btn-danger me-auto" 
                            @onclick="() => showDeleteDialog = true" 
                            data-bs-dismiss="modal">
                            Delete
                        </button>
                    }
                    else
                    {
                        <button 
                            type="button" 
                            class="btn btn-primary me-auto" 
                            @onclick="() => { _ProductService.ReactivateProduct(EditProductForm); OnModalClose.InvokeAsync(); }" 
                            data-bs-dismiss="modal">
                            Reactivate
                        </button>
                    }
                    <button 
                        type="button" 
                        class="btn btn-secondary" 
                        @onclick="() => OnModalClose.InvokeAsync()"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-success">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div tabindex="2" style="display: @(showDeleteDialog ? "block" : "none"); position: fixed; left: 0; right: 0; top: 25%;">
        <div class="modal-dialog">
            <div class="modal-content text-dark">
                <div class="modal-body">
                    <p>Are you sure you want to delete @EditProductForm.Name</p>
                </div>
                <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-secondary" 
                        data-bs-dismiss="modal" 
                        @onclick="() => showDeleteDialog = false">
                        No, keep
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-danger"
                        @onclick="() => { _ProductService.DeleteProduct(EditProductForm); OnModalClose.InvokeAsync(); showDeleteDialog = false; }">
                        Yes, delete
                    </button>
                </div>
            </div>
        </div>
    </div>
}
