@page "/"
@using PangWeb.Pages.Shared

<PageTitle>PangWeb</PageTitle>

<h1>Hello, world!</h1>

<div class="container">
    @foreach (var item in _blogService.NewsCards)
    {
        <NewsCardComponent NewsCardInfo="item"></NewsCardComponent>
    }
</div>
