@page "/"
@using PangWeb.Pages.Components.Homepage
@using PangWeb.Pages.Shared

<PageTitle>@Title</PageTitle>

<div class="container">
    <div class="jumbotron">
        <h1>@Title</h1>
    </div>
    @foreach (var item in _blogService.GetAllBlogs())
    {
        <NewsCardComponent blogInfo="item"></NewsCardComponent>
    }
</div>
