@page "/"
@using PangWeb.Pages.Components.Homepage
@using PangWeb.Pages.Shared

<PageTitle>@Title</PageTitle>

<div class="container">
    <div class="jumbotron">
        <h1 id="siteHeaderText">@Title</h1>
        <img src="https://picsum.photos/800/300" style="width: 100%" />
    </div>
    @if (_blogService.blogs == null)
    {
        <h2>Nothing to see here</h2>
    }
    else
    {
        @foreach (var item in _blogService.blogs)
        {
            <NewsCardComponent blogInfo="item"></NewsCardComponent>
        }
    }
</div>
