@page "/"
@using PangWeb.Pages.Components.Homepage
@using PangWeb.Pages.Shared

<PageTitle>PangWeb</PageTitle>

<div class="container">
    @foreach (var item in _blogService.GetAllBlogs())
    {
        <NewsCardComponent blogInfo="item"></NewsCardComponent>
    }
</div>
