@page "/Store/{category}";
@using PangWeb.Services

<div class="container">
    <h3>Store: @category</h3>

    @foreach (var product in products)
    {
        <div class="card d-inline-block m-2" style="width: 18rem;">
          <img src="@product.ImgUrl" class="card-img-top" alt="...">
          <div class="card-body text-dark">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
          </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? category { 
        get 
        {
            return _category;
        }
        set
        {
            if (value != null) _category = value;
            GetListOfProductsForPage();
        }
    }

    private string? _category;
    [Inject]
    private ProductService _productService { get; set; }

    public List<Product> products { get; set; } = new List<Product>();


    private void GetListOfProductsForPage()
    {
        var categoryId = _productService.GetCategoryId(category);
        if (categoryId != null) products = _productService.GetAllProductsByCategory(categoryId);
    }

}
